*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    
}
header li{
    flex-direction: row;
    padding: 10px 10px;
    width: 100%;
    display: inline;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Trirong", serif;
}
.navbar a{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
#user_pic{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    justify-content: center;
    justify-items: center;

}
@media only screen and(max-width: 600px){
    #user_pic{
        display: flex;
    }
    header li{
        display: none;
    }
}    

.hero_section{
    background-image: url(./asset/heroSectionBackground.png);
    background-size: cover;
    width: 100%;
    color: white;
    height: 500px;
    font-family: "Trirong", serif;
}
.search_bar a{
    color: white;
}
.search_bar{
    text-align: center;
}
#logzomato{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#caption{
    font-size: 1.8rem;
}
#location{
    padding: 15px 40px;
    border-radius: 30px;
    text-align: center;
    outline: none;
    border: none;
}
#food{
    padding: 15px 100px;
    border-radius: 30px;
    text-align: center;
    outline: none;
    border: none;
}
.item_section{
    display: flex;
    gap: 20px;
    
}
.item1{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: none;
    
}
.item2{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.item3{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.item1 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}
.item2 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}
.item3 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}

.item_section{
    padding-left: 10%;
    padding-right: 10%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.container img{
    height: 60%;
    width: 50%;
    border-radius: 8%;
}
.collection{
    padding-left: 10%;
    padding-right: 10%;
}
.collection1 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}
.collection2 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}
.collection3 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}
.collection4 img{
    height: 60%;
    width: 100%;
    border-radius: 8%;
}
.collection1{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.collection2{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.collection3{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.collection4{
    border: 1px solid rgb(232, 232, 232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cc h3{
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cc p{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search_food{
    background-color: transparent;
}